/*
    Sabian Roberts website STYLES file.
    © 2020 Sabian Roberts
*/

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    background-color: black;
    margin-bottom: auto;
    line-height: 32px;
}

small {
    line-height: 18px;
}

a {
    transition: font-size 0.5s, color 0.5s;
    color: blue;
}

a:visited {
    text-decoration: none;
    color: blue;
}

a:hover {
    text-decoration: none;
    color: white;
    font-size: 26px;
}

a:focus {
    text-decoration: none;
    color: blue;
}

a:hover, a:active {
    text-decoration: none;
    color: blue;
}

header {
    text-align: center;
}

header h1 {
    font-size: 64px;
}

header h3 {
    font-size: 12px;
}

.navigation {
    text-align: center;
}

.tab {
    font-size: 24px;
    margin: auto auto auto auto;
    border-bottom: 4px solid blue;
    transition: padding 0.2s, font-size 0.2s, color 0.5s;
    transition-timing-function: ease-in;
    text-decoration: none;
}

.tab:hover {
    padding: 24px 72px 12px 72px;
    font-size: 32px;
    color: white;
}

.tab2 {
    font-size: 24px;
    margin: auto auto auto auto;
    border-top: 4px solid blue;
    border-bottom: 4px solid blue;
    transition: padding 0.2s, font-size 0.2s, color 0.5s;
    transition-timing-function: ease-in;
    text-decoration: none;
}

    .tab2:hover {
        padding: 12px 72px 12px 72px;
        font-size: 32px;
        color: white;
    }

h2 {
    font-size: 1.25em;
}

.moddb {
    align-content: center;
    text-align: center;
}

reviews {
    border: 6px solid white;
    font-family: Arial;
}

.review {
    font-size: 0.75em;
}

.reviewblock {
    display: inline-grid;
}

.zamnhlpoints {
    display: inline-grid;
    align-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
}

footer {
    text-align: center;
    transition: color 0.5s;
}

footer:hover {
    color: aqua;
}

.sc {
    width: 1280px;
    height: 720px
}